@font-face {
    font-family: 'norse';
    src: url(./fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

#container{
    display: grid;
    grid-template-columns: 400px auto;
}

/* left side */
.full-picture {
    width:400px;
}

.full-picture > img {
    width:100%;
    display:block; /*remove white space under an image*/
}

.logo{
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    position: absolute;
    top:200px;
}

.logo span{
    color:white;
    font-family: norse, sans-serif;
    font-size:5rem;
}

.image-side{
    position: relative;
}

.photo-credit a,
.photo-credit p{
    color:white;
}

.photo-credit{
    width:100%;
    position: absolute;
    bottom:10px;

    text-align: center;
}

/* right side */

.text-side>:nth-child(odd){
    background-color: rgb(228, 220, 220);
}

.title{
    padding: 60px 30px 20px 0; 

    font-size:1.2rem;
    font-weight: bold;
}

.forms{
    padding:10px 100px;
}

.title,
.create-account,
.forms {
    padding-left:30px;
    height:33.3vh;
}



capture{
    font-weight: bold;
    font-size:1.5rem;
}

ul{
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 30px;
    
    margin-top: 10px;
}

li {
    display:flex;
    flex-flow: wrap column;
}

li>input {
    width: 200px;
    line-height: 20px;
    margin-bottom: 10px;
}

li>label{
    font-size: 0.8rem;
    opacity: 0.8;
}

.create-account button{
    margin:20px 0;
    width: 150px;
    height:40px;
    border-radius: 10px;
    border:none;
    background-color: #596D48;
    color:white;
    text-align: center;
}
