/* @font-face {
    font-family: 'norse';
    src: url(./fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}

#container{
    display: grid;

    grid-template-columns: 300px 1fr;
    grid-template-rows: 100vh;
}

.full-picture img{
    width:300px;
    height:700px;
}

.text-side>div{
    background-color: grey;
}

form{
    background-color: white;
} */