@font-face {
    font-family: 'norse';
    src: url(./fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

/*changes default blue-white color selection from the user*/
::selection{
    background-color: #596D48;
    color:white;
}

#container{
    display:flex;
}

/* left side */
.image-side {
    width: 400px;
    position: relative;
}

.full-picture > img {
    width:400px;
    height: 100vh;
    display:block;
}

.logo{
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    position: absolute;
    top:200px;
}

.logo span{
    color:white;
    font-family: norse, sans-serif;
    font-size:5rem;
}

.photo-credit{
    width:100%;
    position: absolute;
    bottom:10px;

    text-align: center;
}

.photo-credit a,
.photo-credit p{
    color:white;
}

.photo-credit a:hover{
    color:red;
}


/* right side */
.text-side{
    display: flex;
    flex-direction: column;
}

.text-side div:nth-child(odd){
    background-color: rgb(235, 233, 233);
}

.title{
    padding: 70px 50px 30px 0; 
    font-size:1.2rem;
    font-weight: bold;
}

.forms{
    padding:20px 100px;
}

.title,
.create-account,
.forms {
    padding-left:30px;
}

/* form div */
capture{
    font-weight: bold;
    font-size:1.5rem;
}

ul{
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 30px;
    margin-top: 10px;
}

li {
    display:flex;
    flex-flow: wrap column;
}

li>input {
    width: 200px;
    line-height: 20px;
    margin-bottom: 10px;
    padding:2px 5px;

    appearance: none;
    border: 2px solid #E5E7EB;
    border-radius: 5px;

    font-family: inherit;
    font-size: 100%;
}

li>input:hover{
    cursor:pointer;
}

li>input:focus{
    outline: none;
    border:2px solid blue;
    box-shadow: 2px 2px 5px grey;
}

li>label{
    font-size: 0.8rem;
    opacity: 0.8;
}

input[class="error"]{
    border:2px solid red;
}

/* signs on the right i.e. 'X' or 'V'*/
input+span{
    position: relative;
}

input+span::before{
    position: absolute;
    top: -35px;
    left: 205px;
}

input:valid+span::before{
    color:green;
    content: "✓";
    visibility: hidden;
}

input:invalid+span::before{
    content: "✖";
    color: red;
    visibility: hidden;
}

input:focus+span::before{
    visibility: visible;
}

li>input:valid{
    border: green 2px solid;
}

/* informing the user what a format of the input is */
input+span::after{
    position:absolute;
    top:-65px;
}

input:invalid+span::after{
    width:170px;
    padding:3px 15px;
    font-size: 1rem;
    font-weight: bold;
    background: #596D48;
    color: white;
    visibility: hidden;
}

input:invalid:focus+span::after{
    visibility: visible;
}

input[type="text"]:invalid+span::after{
    content:"Upper/lower case letters";
}

input[type="email"]:invalid+span::after{
    content:"example@gmail.com";
}

input[type="tel"]:invalid+span::after{
    content:"420-111-111-111";
}

/* shadow between form div and create acc div */
.create-account{
    position: relative;
}

.create-account::before{
    position: absolute;
    top:0;
    left:0;
    content: "";
    width:100%;
    height: 1px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

/* create account div */
.create-account {
    flex:1;
}

.create-account button{
    margin:20px 0;
    width: 150px;
    height:40px;
    border-radius: 10px;
    border:none;
    background-color: #596D48;
    color:white;
    text-align: center;
}

.create-account button:hover{
    cursor: pointer;
    background-color: #7db64b;
}

.create-account a {
    color:#596D48;
    text-decoration: none;
}

.create-account a:hover{
    text-decoration: underline;
}

/* responsiveness for smaller screens*/
@media(max-width:1100px) {
    .full-picture img{
        height:780px;
    }

    .title,
    .forms{
        padding:30px;
    }

    capture{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .create-account {
        padding: 20px;
    }

    .create-account button{
        display: block;
        margin: auto;
    }

    .create-account p {
        text-align: center;
        margin-top: 10px;
    }
}

@media(max-width:768px){
    #container{
        display:flex;
        flex-direction: column;
    }

    .image-side {
        width: 100%;
        height:300px;
    }
    
    .full-picture img {
        width: 100%;
        height: 300px;
    }

    .logo{
        position: absolute;
        top: 100px;
    }

    .title{
        text-align: center;
    }
}