@font-face {
    font-family: 'norse';
    src: url(./fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

#container{
    display:flex;
}

/* left side */
.image-side {
    width: 400px;
}

.full-picture > img {
    width:400px;
    height: 100vh;
    display:block;
}

.logo{
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    position: absolute;
    top:200px;
}

.logo span{
    color:white;
    font-family: norse, sans-serif;
    font-size:5rem;
}

.image-side{
    position: relative;
}

.photo-credit a,
.photo-credit p{
    color:white;
}

.photo-credit a:hover{
    color:red;
}

.photo-credit{
    width:100%;
    position: absolute;
    bottom:10px;

    text-align: center;
}

/* right side */

.text-side div:nth-child(odd){
    background-color: rgb(228, 220, 220);
}

.title{
    padding: 70px 50px 30px 0; 

    font-size:1.2rem;
    font-weight: bold;
}

.forms{
    padding:20px 100px;
}

/* .create-account{
    box-shadow: 2px 0 5px blue;  */
    /*light shadow between form div and button div*/
/* } */

.title,
.create-account,
.forms {
    padding-left:30px;
}

/* .text-side>*::selection{
    background-color: #596D48;  ??
} */

capture{
    font-weight: bold;
    font-size:1.5rem;
}

ul{
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 30px;
    
    margin-top: 10px;
}

li {
    display:flex;
    flex-flow: wrap column;
}

li>input {
    width: 200px;
    line-height: 20px;
    margin-bottom: 10px;
    padding:2px 5px;

    appearance: none;
    border: 2px solid #E5E7EB;
    border-radius: 5px;

    font-family: inherit;
    font-size: 100%;
}

li>input:hover{
    cursor:pointer;
}

li>input:focus{
    outline: none;
    border:2px solid blue;
    box-shadow: 2px 2px 5px grey;
}

li>label{
    font-size: 0.8rem;
    opacity: 0.8;
}

input[class="error"]{
    border:2px solid red;
}

/* input[class="validated"]{
    border:2px solid green;
} */

.create-account button{
    margin:20px 0;
    width: 150px;
    height:40px;
    border-radius: 10px;
    border:none;
    background-color: #596D48;
    color:white;
    text-align: center;
}

.create-account button:hover{
    cursor: pointer;
    background-color: #7db64b;
}

.create-account a {
    color:#596D48;
    text-decoration: none;
}

.create-account {
    flex:1;
}

.text-side{
    display: flex;
    flex-direction: column;
}

@media(max-width:1100px) {
    ul{
        display: flex;
        flex-flow: column wrap;

        align-items: center;
    }

    capture{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title,
    .forms{
        padding:30px;
    }

    .create-account {
        padding: 20px;
    }

    .create-account button{
        display: block;
        margin: auto;
    }

    .create-account p {
        text-align: center;
        margin-top: 10px;
    }

    .full-picture img{
        height:780px;
    }
}

@media(max-width:768px){
    #container{
        display:flex;
        flex-direction: column;
    }

    .image-side {
        width: 100%;
        height:300px;
    }

    .full-picture img {
        width: 100%;
        height: 300px;
    }

    .logo{
        position: absolute;
        top: 100px;
    }

    .title{
        text-align: center;
    }
}